#chat-screen__background {
  background-color: #abc1d1;
  height: 500vh;
}
#chat-screen__background .status-bar {
  background-color: #abc1d1;
}
#chat-screen__background .alt-header {
  background-color: #abc1d1;
}
@keyframes fadeIn {
  from {
    transform: translateY(30px);
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}
.chat-screen__main {
  padding: 150px 20px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: fadeIn 1s linear;
}
.chat__timestamp {
  color: white;
  background-color: #92a4b2;
  padding: 15px;
  border-radius: 20px;
  margin-bottom: 25px;
}
.message__row img {
  height: 50px;
  width: 50x;
  border-radius: 20px;
}
@keyframes rowleftIn {
  from {
    transform: translateX(-200px);
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}
.message__row {
  margin-bottom: 25px;
  width: 100%;
  display: flex;
  animation: rowleftIn 0.5s linear;
}
@keyframes rowrightIn {
  from {
    transform: translateX(200px);
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}
.message__row:last-child {
  justify-content: flex-end;
  animation: rowrightIn 1s linear;
}
.message__author {
  opacity: 0.7;
  display: block;
  margin-bottom: 8px;
  margin-left: 15px;
  font-size: 14px;
}
.message__bubble {
  padding: 9px;
  border-radius: 12px;
  background-color: white;
}
.message__bubble:first-child {
  border-top-left-radius: 0px;
  margin: 0px 8px;
}
.message__bubble:last-child {
  background-color: #fee500;
  border-top-right-radius: 0px;
  margin-left: 8px;
}
.message__info {
  display: flex;
  align-items: flex-end;
}
.message__time {
  font-size: 12px;
}
.reply {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 15px;
  background-color: white;
  box-sizing: border-box;
}
.reply__plus {
  opacity: 0.5;
  margin-right: 15px;
}
.reply__emoticons {
  opacity: 0.5;
  font-size: 23px;
}
.reply__column button {
  background-color: #fee500;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: none;
}
.reply .reply__column:first-child {
  width: 10%;
}
.reply .reply__column:last-child {
  width: 90%;
  position: relative;
}
.reply .reply__column input {
  width: 100%;
  padding: 8px;
  border-radius: 20px;
  border: var(--main-border);
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
}
.reply:focus-within input {
  width: 95vw;
  transform: translateX(-11%);
}
.reply .reply__column:first-child,
.reply .reply__emoticons,
.reply button {
  transition: opacity 0.3s ease-in-out;
}

.reply:focus-within .reply__column:first-child,
.reply:focus-within .reply__emoticons,
.reply:focus-within button {
  opacity: 0;
}

.reply__column .reply__emoticons,
.reply__column button {
  position: absolute;
  right: 3px;
  bottom: 2px;
}
.reply__column .reply__emoticons {
  right: 45px;
  bottom: 5px;
}
.reply .reply__column input::placeholder {
  padding: 2px;
}
