#friedns-display-link {
  display: block;
  text-align: center;
  padding-top: 132px;
  padding-bottom: 14px;
  background-color: #fafafa;
  z-index: -1;
  color: black;
  margin-bottom: 10px;
}
#friedns-display-link i {
  color: #d5d5d5;
  margin-right: 9px;
  margin-left: 11px;
}

.friends-screen {
  padding: 0px var(--horizontal-space);
}
.friends-screen__channel {
  margin-top: 18px;
  padding-top: 16px;
  border-top: var(--main-border);
}
.friends-screen__channel-header {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  color: var(--gray-text);
}
@keyframes hidesplashscreen {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}
#splash-screen {
  position: absolute;
  top: 0px;
  background-color: var(--yellow);
  width: 100vw;
  height: 100vh;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 130px;
  animation: hidesplashscreen 0.4s ease-in-out forwards;
  animation-delay: 2s;
}
